<section>

    <div class="row">
<div class="twelve columns">
<%= form_for([@shopping, @loja]) do |f| %>

  <div class="field">
    Nome*
    <%= f.text_field :nome, :class => "large input-text" %>
  </div>
  
  <div class="field">
    Piso*
    <%= f.text_field :piso, :class => "large input-text" %>
  </div>
  
  <div class="field">
    Número
    <%= f.text_field :numero, :class => "large input-text" %>
  </div>
  
  <div class="field">
    Telefone
    <%= f.text_field :telefone, :class => "large input-text" %>
  </div>
  
  <div class="field">
    Detalhes*
    <%= f.text_area :detalhes, :rows => 6, :class => "large input-text" %>
  </div>
  
  <div class="field">
    Link para a Imagem*
    <%= f.text_field :imagem, :class => "large input-text" %>
  </div>
  
     <div class="field">
    Áreas de Negócio*
    <%= f.text_field :tags, :class => "large input-text"%>
    <small>Inserir áreas separadas por espaço </small><p>
    *Campos Obrigatórios
  </div>
  
  <div class="actions">
    <%= f.submit "Confirmar", :class => "nice small radius blue button",  :placeholder => "Insira as Tags separadas por espaço" %>
  </div>
<% end %>

</div>
</div>
</section>

