<div class="show-on-desktops">
 <div class = "navigation">
       <%= tabs_tag do |tab| %>
       <%= tab.home      "Home", root_path %>
       <%= tab.loja      "Lojas", lojas_path %>
       <% end %> 
    </div>
    </div>
<section>
     <div class="row">
      <div class="twelve columns"> 
        <div class="underline"><h1>Lojas</h1></div>   
      </div>
      </section>

<% if @lojas != nil && @lojas.count > 0 %>
<section>

<div class="row display">
<div class="four columns offset-by-eight">
Filtro:
<input type="text" class="filter" name="liveFilter" onKeyup ="update_lojas3(this.value)" />   <p></div>
<p>
</div>
      
<div id ="lojas">         
<% shopping_actual = "" %> 
<% @lojas.each do |loja| %>

      <% if loja.shopping_nome != shopping_actual %>
      
      <% reset_cycle("rows") %>
      
      <div class="row">
      <div class="twelve columns">
      <div class="underline"><h3><%= loja.shopping_nome%></h3></div>
      </div>
      
      <% shopping_actual = loja.shopping_nome %>  
      <% end %>
            
<%= cycle("</div><div class='row'>","","","","","",:name => "rows").html_safe %>
<div class="two columns">
 <center>
  <%= link_to image_tag(loja.imagem, :height => "100px"), shopping_loja_path(loja[:shopping_id], loja) %>
 
  </center>
  <p></p>
</div>
<% end %>
</div>
</div>
</section>

<%else %>

		 <div class="row">
      <div class="twelve columns"> 
        <div class="underline"><h2>Não foram encontradas lojas..</h2></div> 
      </div>
		 </div>
</section>


<%end %>
