<section>
		 <div class="row">
      <div class="twelve columns">
      <div class = "navigation">
      <%= tabs_tag do |tab| %>
      <%= tab.home      "Home", root_path %>
      <%= tab.shopping      @shopping.nome, @shopping %>
      <%= tab.lojas      "Lojas do " + @shopping.nome, lojas_shopping_index_url(@shopping) %>
      <% end %>
</div>
</div>
</div>
</section>

<% if @lojas != nil && @lojas.count > 0 %>
  <section>
		 <div class="row">
      <div class="eleven columns">
        <div class="underline"><h1>Lojas do <%= @shopping.nome %></h1></div>   
        <p></p>
          </div>
          <div class="one"> 
          </div>
          <div class="row display">
<div class="four columns offset-by-eight">
Filtro:
<input type="text" class="filter" name="liveFilter" onKeyup ="update_lojas2(<%= @shopping.id %>, this.value)" />   <p></div>
        <p>
</div>
   
<div id="lojas">   
<div id="lojas2"> 
<% @lojas.each do |loja| %>

<%= cycle("</div><div class='row'>","","","","","").html_safe %>
<div class="two columns">
    <center>
    <%= link_to image_tag(loja.imagem, :height => "100px"), shopping_loja_path(@shopping, loja) %>
    <p> <%= loja.nome%></p>
    </center>
  <p></p>
</div>
<% end %>
</div>

</div>
<div class="row">
<div class="twelve columns">
<%= will_paginate @loja, :prev_label => "←Anterior", :next_label => "Próximo→"%>
</div>
</div>
</section>
<%else %>
<section>
		 <div class="row">
      <div class="twelve columns"> 
        <div class="underline"><h2>Não existem lojas..</h2></div> 
      </div>
		 </div>

</section>
<%end %>

