<% if @lojas != nil && @lojas.count > 0 %>
  <section>
		 <div class="row">
      <div class="eleven columns"> 
        <div class="underline"><h1>Lojas do <%= @shopping.nome %></h1></div>   
        <p></p>
          </div>
          <div class="one"> 
          </div>
          <div class="row display">
<div class="four columns offset-by-eight">  <input type="text" class="filter" name="liveFilter" />   <p></p></div>
        <p></p>
</div>
   
<% @lojas.each do |loja| %>

<%= cycle("</div><div class='row'>","","").html_safe %>
<div class="four columns">
    <ul id="filter_me">
            <center>
            <li><%= link_to image_tag(loja.imagem), shopping_loja_path(@shopping, loja) %>
              <p> <%= loja.nome%></p></li>
              <ul>
  <p></p>
</div>
<% end %>

</div>
<div class="row">
<div class="twelve columns">
<%= will_paginate @loja, :prev_label => "←Anterior", :next_label => "Próximo→"%>
</div>
</div>
</section>
<%else %>
<section>
		 <div class="row">
      <div class="twelve columns"> 
        <div class="underline"><h2>Não existem lojas..</h2></div> 
      </div>
		 </div>

</section>


<%end %>

