<h1>New loja</h1>

<%= form_for([@shopping, @loja]) do |f| %>


   <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', shopping_lojas_path(@shopping) %>