<section>
  
  <div class="row">
    <div class ="twelve columns">
    <div class="underline"><h1><%= @loja.nome %></h1></div> 
      
    </div>
  </div>  
<div class="row">
  
  <div class="six columns">
    
  <p>
     <div class="underline"><h5>Shopping</h5></div> 
     <h4><%= @loja.shopping_nome %></h4>
  </p>  
  
  <p>
     <div class="underline"><h5>Piso</h5></div> 
     <h4><%= @loja.piso %></h4>
  </p>  
  
  <p>
     <div class="underline"><h5>Número</h5></div> 
     <h4><%= @loja.numero %></h4>
  </p>  
  
  <p>
     <div class="underline"><h5>Telefone</h5></div> 
     <h4><%= @loja.telefone %></h4>
  </p>  
  
  <p>
     <div class="underline"><h5>Detalhes</h5></div> 
     <h4><%= @loja.detalhes %></h4>
  </p>
  
  <p>
     <div class="underline"><h5>Áreas de Negócio</h5></div> 
     <h4><%= @loja.tags %></h4>
  </p>
  

  
</div>

  <div class="six columns">
  
  <p></p> 
  <%= image_tag(@loja.imagem)%>
    <div>
    
  <% if current_admin %><%= link_to 'Editar', edit_loja_path(@shopping, @loja), :class => "nice small radius blue button" %><% end %> 
  </div>
  

</div>


</section>


