<section>
  
  <div class="row">
    <div class ="twelve columns">
    <div class="show-on-desktops">
      <div class = "navigation">
      <%= tabs_tag do |tab| %>
      <%= tab.home      "Home", root_path %>
      <%= tab.shoppings      "Shoppings", shoppings_path %>
      <%= tab.shopping      @shopping.nome, @shopping %>
      <%= tab.lojas      "Lojas do " + @shopping.nome, lojas_shopping_index_url(@shopping) %>
      <%= tab.loja      @loja.nome, @loja %>
      <% end %>
    </div>
    </div>
       
    </div>
  </div>  

  
  <div class="row">
    <div class ="nine columns">
</br>
<p></p>
        <div class="underline"><h1><%= @loja.nome %></h1></div> 

    </div>
    <div class ="three columns">
<p></p>
<%= image_tag(@loja.imagem, :height => "100px")%>
    </div>
    </div>

  <div class="row">
      <div class="twelve columns">
    <% if @new_promos != nil && @new_promos.count > 0 %>
      <p>
         <div class="underline"><h4>NOVAS PROMOÇÕES</h4></div> 

      </p>  
      <p>
        <% @new_promos.each do |promo| %>

        <%= cycle("</div><div class='row'>","","").html_safe %>
        <div class="four columns">
        <center>
        <%= link_to image_tag(promo.imagem, :height => "200px"), shopping_loja_promo_path(@shopping, @loja, promo) %>
        <p><%= promo.produto%></br>
        <%= promo.desconto %>&#37;  de desconto
        </center>
       <p></p>
        </div>
        <% end %>
        <% end %>
      </p> 
  
    <p>
    </div>
    </div>
     <div class="row">
      <div class="twelve columns">
        <% if @last_promos != nil && @last_promos.count > 0 %>
     <div class="underline"><h4>PROMOÇÕES A ACABAR</h4></div> 

     </p>  
    
   <p>
    <% @last_promos.each do |last_promo| %>

    <%= cycle("</div><div class='row'>","","").html_safe %>
    <div class="four columns">
    <center>
    <%= link_to image_tag(last_promo.imagem, :height => "200px"), shopping_loja_promo_path(@shopping, @loja, last_promo) %><p><%= last_promo.produto%></br>
        <%= last_promo.desconto %>&#37;  de desconto</br>
    Termina a <%= last_promo.dataf.strftime("%d-%m-%Y %H:%M")%>
    </center>
   <p></p>
    </div>
    <% end %>
    <% end %>
      
    </div>  

</div>

</section>


<section>
  <div class="row">
  
  <div class="six columns">
      <div class="twelve columns">
  <%= link_to 'Todas as Promoções', shopping_loja_promos_path(@shopping, @loja), :class => "nice small radius blue button" %> <p>

  
  </div>
 
  <p>
     <div class="underline"><h5>SHOPPING</h5></div> 
     <h4><%= @loja.shopping_nome %></h4>
  </p>  
  
  <p>
     <div class="underline"><h5>PISO</h5></div> 
     <h4><%= @loja.piso %></h4>
  </p>  
  
  <p>
     <div class="underline"><h5>NÚMERO</h5></div> 
     <h4><%= @loja.numero %></h4>
  </p>  
  


  
</div>

  <div class="six columns">
  

    <p>
     <div class="underline"><h5>TELEFONE</h5></div> 
     <h4><%= @loja.telefone %></h4>
  </p>  
  
  <p>
     <div class="underline"><h5>DETALHES</h5></div> 
     <h4><%= @loja.detalhes %></h4>
  </p>
  
  <p>
     <div class="underline"><h5>ÁREAS DE NEGÓCIO</h5></div> 
     <h4><%= @loja.tags %></h4>
  </p>
  
  


  </div>
  </div>
  <div class="row">


  
</section>


