<section>
 <div class = "navigation">
       <%= tabs_tag do |tab| %>
       <%= tab.home      "Home", root_path %>
       <%= tab.gestao      "Log In", log_in_path %>
       <% end %> 
    </div>
</section>
<section>
		 <div class="row">
      <div class="twelve columns"> 
        <div class="underline"><h1>Log in</h1></div> 
            
		 	</div>
		 </div>
     <p></p>
    <div class="row">
<div class="twelve columns">
<%= form_tag sessions_path do %>

    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email], :class => "medium input-text" %>
    
    <%= label_tag :password %>
    <%= password_field_tag :password, nil, :class => "medium input-text" %>
  <p></p>
  <%= submit_tag "Log in", :class => "nice small radius blue button" %>
<% end %>
</div>
</div>
</section>








