<div class="hide-on-phones">
 <div class = "navigation">
       <%= tabs_tag do |tab| %>
       <%= tab.home      "Home", root_path %>
       <%= tab.gestao      "Gestão", admins_index_path  %>
       <%= tab.users      "Utilizadores", admins_users_url  %>
       <%= tab.edit_user      "Editar Registo", admins_users_url  %>
       <% end %> 
    </div>
    </div>
<section>
   <div class="row">
    <div class="twelve columns"> 
      <div class="underline"><span class="text"><h1>Editar Registo</h1></span></div>      
    </div>
   </div>

  <section>

    <div class="row">
<div class="twelve columns" >
 <%= form_for @admin, :url => update_admin_url(@admin), :method => :put do |f| %>

    E-mail
    <%= f.text_field :email, :class => "medium input-text" %>
    
    Password
    <%= f.password_field :password, :class => "medium input-text" %>
  
    Password
    <%= f.password_field :password_confirmation, :class => "medium input-text" %>

    Tipo
   
     <%= select_tag :tipo, options_for_select(@tipos, @admin.tipo), :onchange => 'update_shoppings(this.value); update_lojas_admin(this.value, tipo.value)'  %>



   <div id = "shopping"> Shopping:
    
    <%= select_tag :shop, options_for_select(@shops, @pos_shop), :onchange => 'update_lojas_admin(this.value, tipo.value); update_shoppings(tipo.value)'  %>
    </div>
    <div id = "loja"> 
    Loja: 
        
     <%= select_tag(:loj , options_for_select(@loj, @pos_loja)) %>

    </div>

    
   <p></p>
  <%= f.submit "Registar", :class => "nice small radius blue button"%>
<% end %>
</div>
</div>
</section>

</section>
