<%= render "shared/error" %>

 <section>  
  <div class ="row">
    <div class = "twelve columns">
    <div class="underline"><h1>Gestão de eventos do <%= @shopping.nome %></h1></div> 
    </div>
  </div>
   
<% if @eventos != nil && @eventos.count > 0 %>
   <div class ="row">
    <div class = "twelve columns">
    <table>
   <tr>
     <th>Nome</th>
     <th>Data</th>
     <th>Local</th>
     <th>Detalhes</th>
     <th></th>
     <th></th>
     <th></th>

   </tr>
 
 <% @eventos.each do |evento| %>
   <tr>
     <td><%= evento.nome %></td>
     <td><%= evento.data.strftime("%d-%m-%Y %H:%M")%></td>
     <td><%= evento.local%></td>
     <td><%= truncate evento.detalhes, :length => 50 %></td>
     <td><%= link_to 'Mostrar', shopping_evento_path(@shopping, evento) %></td>
     <td><%= link_to 'Editar', edit_evento_path(@shopping, evento) %></td>
     <td><%= link_to 'Apagar', shopping_evento_path(@shopping, evento), :confirm => 'Tem a certeza?', :method => :delete %></td>


   </tr>
   <% end %>
   </table>
  
    </div>
  </div>


<%end %>

    <div class="row">
      <div class="twelve columns"> 
            <%= link_to 'Adicionar evento', new_evento_path(@shopping), :class => "nice small radius blue button"  %>
		 	</div>
    </div>
  </section>