<div class="hide-on-phones">
 <div class = "navigation">
       <%= tabs_tag do |tab| %>
       <%= tab.home      "Home", root_path %>
       <%= tab.gestao      "Gestão", admins_index_path  %>
       <% end %> 
    </div>
    </div>
<%= render "shared/error" %>
<section>
		 <div class="row">
      <div class="twelve columns"> 
        <div class="underline"><span class="text"><h1>Gestão</h1></span></div> 
            
		 	</div>
		 </div>
   


<div class="row">
   <div class="twelve columns">
<div class="four columns">
<% if @current_admin.tipo == 2 %>
  <%= link_to image_tag("lojas.jpg", :height => "450px"), admins_shoppings_url %>
<% else %>
  <%= link_to image_tag("shoppings.jpg", :height => "450px"), admins_shoppings_url %>
<% end %> 
  <p></p>
</div>
<% if @current_admin.tipo == 0 %>
<div class="four columns">
  <%= link_to image_tag("utilizadores.jpg", :height => "450px"), admins_users_url %>
  <p></p>
</div>
<% end %>
</div>

</div>

</section>




