<div class="hide-on-phones">
 <div class = "navigation">
       <%= tabs_tag do |tab| %>
       <%= tab.home      "Home", root_path %>
       <%= tab.gestao      "Gestão", admins_index_path  %>
       <%= tab.shopping      "Shoppings", admins_shoppings_url  %>
       <%= tab.lojas      "Lojas do " + @shopping.nome,  admins_lojas_path(@shopping)  %>
      <% end %> 
    </div>
    </div>
<%= render "shared/error" %>
 <section>  
  <div class ="row">
    <div class = "twelve columns">
    <div class="underline"><h1>Gestão de Lojas do <%= @shopping.nome %></h1></div> 
    </div>
  </div>
       <div class="row">
      <div class="twelve columns"> 
      <% if @current_admin.tipo != 2 %>
            <%= link_to 'Adicionar Loja', new_loja_path(@shopping), :class => "nice small radius blue button"  %>
            <p> 
      <% end %>
      </div>
    </div>
<% if @lojas != nil && @lojas.count > 0 %>
   <div class ="row">
    <div class = "twelve columns">
    <table>
   <tr>
     <th>Nome</th>
     <th>Piso</th>
     <th>Número</th>
     <th>Telefone</th>
     <th>Detalhes</th>
     <th>Áreas de Negócio</th>
     <th></th>
     <th></th>
     <th></th>
     <% if @current_admin.tipo != 2 %>
     <th></th>
     <% end %>
   </tr>
 
 <% @lojas.each do |loja| %>
   <tr>
     <td><%= loja.nome %></td>
     <td><%= loja.piso %></td>
     <td><%= loja.numero %></td>
     <td><%= loja.telefone %></td>
     <td><%= truncate loja.detalhes, :length => 50 %></td>
     <td><%= loja.tags %></td>
     <td><%= link_to 'Mostrar', shopping_loja_path(@shopping, loja) %></td>
     <td><%= link_to 'Editar', edit_loja_url(@shopping, loja) %></td>
           <% if @current_admin.tipo != 2 %>
     <td><%= link_to 'Apagar', shopping_loja_path(@shopping, loja), :confirm => 'Tem a certeza?', :method => :delete %></td>
      <% end %>
    <td><%= link_to 'Gerir Promoções', admins_promos_path(@shopping, loja) %> </td>

   </tr>
   <% end %>
   </table>
  
    </div>
  </div>
<%else%>
  <div class="row">
<div class ="twelve columns">
  <div class="underline"><h4>Não há lojas...</h4></div>
  </div>
  </div>
<%end %>


  </section>