 <section>  
  <div class ="row">
    <div class = "twelve columns">
    <div class="underline"><h1>Gestão de Lojas do <%= @shopping.nome %></h1></div> 
    </div>
  </div>
   
<% if @lojas != nil && @lojas.count > 0 %>
   <div class ="row">
    <div class = "twelve columns">
    <table>
   <tr>
     <th>Nome</th>
     <th>Piso</th>
     <th>Número</th>
     <th>Telefone</th>
     <th>Detalhes</th>
     <th>Áreas de Negócio</th>
     <th></th>
     <th></th>
     <th></th>
   </tr>
 
 <% @lojas.each do |loja| %>
   <tr>
     <td><%= loja.nome %></td>
     <td><%= loja.piso %></td>
     <td><%= loja.numero %></td>
     <td><%= loja.telefone %></td>
     <td><%= truncate loja.detalhes, :length => 50 %></td>
     <td><%= loja.tags %></td>
     <td><%= link_to 'Mostrar', shopping_loja_path(@shopping, loja) %></td>
     <td><%= link_to 'Editar', edit_loja_path(@shopping, loja) %></td>
     <td><%= link_to 'Apagar', shopping_loja_path(@shopping, loja), :confirm => 'Tem a certeza?', :method => :delete %></td>
   </tr>
   <% end %>
   </table>
  
    </div>
  </div>


<%end %>

    <div class="row">
      <div class="twelve columns"> 
            <%= link_to 'Adicionar Loja', new_loja_path(@shopping), :class => "nice small radius blue button"  %>
		 	</div>
    </div>
  </section>