<section>
		 <div class="row">
      <div class="twelve columns"> 
        <div class="underline"><span class="text"><h1>Sign Up</h1></span></div>      
		 	</div>
		 </div>
     <p></p>
    
    <div class="row">
<div class="twelve columns">
 <%= form_for @admin do |f| %>
  <% if @admin.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @admin.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
    <%= f.label :email %>
    <%= f.text_field :email, :class => "medium input-text" %>
    
    <%= f.label :password %>
    <%= f.password_field :password, :class => "medium input-text" %>
  
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => "medium input-text" %>
   <p></p>
  <%= f.submit :class => "nice small radius blue button"%>
<% end %>
</div>
</div>
</section>






