<section>  
  <div class ="row">
    <div class = "twelve columns">
<<<<<<< HEAD
      <div class="underline"><h1>Promoções da loja <%= @loja.nome%> </h1></div> 
=======
      <div class="underline"><h1>Promoções da loja</h1></div> 
>>>>>>> a2a4a83034428ac0d74f502230199d56d5777bf2
    </div>
  </div>
  
 
  <div class ="row">
    <div class = "twelve columns">
    <table>
      <tr>
     <th>Produto</th>
     <th>Detalhes</th>
     <th>Preço Inicial</th>
     <th>Preço Final</th>
     <th>Desconto</th>
     <th>Data Fim</th>
     <th></th>
     <th></th>
     <th></th>
   </tr>
 
 <% @promos.each do |promo| %>
<tr>
     <td><%= promo.produto %></td>
     <td><%= truncate promo.detalhes, :length => 50 %></td>
     <td><%= promo.precoi %></td>
     <td><%= promo.precof %></td>
     <td><%= promo.desconto %></td>
     <td><%= promo.dataf %></td>
     <td><%= link_to 'Mostrar', shopping_loja_promo_path(@shopping, @loja, promo) %></td>
     <td><%= link_to 'Editar', edit_shopping_loja_promo_path(@shopping, @loja, promo) %></td>
     <td><%= link_to 'Apagar', shopping_loja_promo_path(@shopping, @loja, promo), :confirm => 'Tem a certeza?', :method => :delete %></td>
     
  
   </tr>
   <% end %>
 </table>
    </div>
  </div>
    <div class="row">
      <div class="twelve columns"> 
           <%= link_to 'Adicionar Promoção', new_shopping_loja_promo_path(@shopping, @loja), :class => "nice small radius blue button" %>

		 	</div>
    </div>
</section>