<div class="hide-on-phones">
 <div class = "navigation">
       <%= tabs_tag do |tab| %>
       <%= tab.home      "Home", root_path %>
       <%= tab.gestao      "Gestão", admins_index_path  %>
       <%= tab.shopping      "Shoppings", admins_shoppings_url  %>
        <%= tab.lojas      "Lojas do " + @shopping.nome,  admins_lojas_path(@shopping)  %>
       <%= tab.promos      "Promoções " + @loja.nome,  admins_promos_path(@shopping, @loja)   %>
      <% end %> 
    </div>
    </div>
<%= render "shared/error" %>
<section>  
  <div class ="row">
    <div class = "twelve columns">
      <div class="underline"><h1>Promoções <%= @loja.nome%> </h1></div> 
    </div>
  </div>
  
  <div class="row">
      <div class="twelve columns"> 
           <%= link_to 'Adicionar Promoção', new_shopping_loja_promo_path(@shopping, @loja), :class => "nice small radius blue button" %>
           </br>
           </br>
           Mostrar só inativas:
           <input type="checkbox" name="promosinativas" value="1" 
           onclick ="updatetablepromos(this.checked, <%= @promos.length %>)"/>
           </br>

      </div>
    </div>
 
  <div class ="row">
    <div class = "twelve columns">
    <table id ="promos">
      <tr>
     <th>Produto</th>
     <th>Preço Inicial</th>
     <th>Preço Final</th>
     <th>Desconto</th>
     <th>Data Fim</th>
     <th>Ativa</th>
     <th></th>
     <th></th>
     <th></th>
   </tr>
 <% i = 0%>
 <% @promos.each do |promo| %>
  <tr id ="teste<%= i%>">
     <td><%= promo.produto %></td>
     <td><%= promo.precoi %></td>
     <td><%= promo.precof %></td>
     <td><%= promo.desconto %></td>
     <td><%= promo.dataf.strftime("%d-%m-%Y %H:%M")%></td>
     <% if promo.ativa == 1 %>
     <td><input class ="check<%= i %>" type="checkbox" disabled="disabled" name="ativa" checked/></td>
     <% else %>
     <td><input class ="check<%= i %>" type="checkbox" disabled="disabled" name="ativa"/></td>
     <% end %>
     <td><%= link_to 'Mostrar', shopping_loja_promo_path(@shopping, @loja, promo) %></td>
     <td><%= link_to 'Editar', edit_promo_url(@shopping, @loja, promo) %></td>
     <td><%= link_to 'Apagar', shopping_loja_promo_path(@shopping, @loja, promo), :confirm => 'Tem a certeza?', :method => :delete %></td>
     
  
   </tr>
<% i += 1%>
   <% end %>
 </table>
    </div>
  </div>
    
</section>