<section>  
  <div class ="row">
    <div class = "twelve columns">
      <div class="underline"><h1>Gestão de Shoppings</h1></div> 
    </div>
  </div>
  
 
  <div class ="row">
    <div class = "twelve columns">
    <table>
   <tr>
     <th>Nome</th>
     <th>Telefone</th>
     <th>Localização</th>
     <th>Email</th>
     <th></th>
     <th></th>
     <th></th>
   </tr>
 
 <% @shoppings.each do |shopping| %>
   <tr>
     <td><%= shopping.nome %></td>
     <td><%= shopping.telefone %></td>
     <td><%= truncate shopping.localizacao, :length => 50%></td>
     <td><%= shopping.email %></td>
     <td><%= link_to 'Mostrar', shopping %></td>
     <td><%= link_to 'Editar', edit_shopping_path(shopping) %></td>
     <td><%= link_to 'Apagar', shopping, :confirm => 'Tem a certeza?', :method => :delete %></td>
   </tr>
 <% end %>
 </table>
    </div>
  </div>
    <div class="row">
      <div class="twelve columns"> 
            <%= link_to 'Adicionar Shopping', new_shopping_path, :class => "nice small radius blue button"  %>
		 	</div>
    </div>
</section>

