 <div class = "navigation">
       <%= tabs_tag do |tab| %>
       <%= tab.home      "Home", root_path %>
       <%= tab.pesquisa      "Pesquisa", search_path %>
       <% end %> 
    </div>

<section>
  <div id="cover">
    <div id="dialog-modal2" title="">
      <div class="underline"><h4>Pesquisa de Shoppings</h4></div>
       <p></p>
      <%= form_tag search_shoppings_url, {:method => :get, :class => "custom"} do %>
    <%= text_field_tag :query , "", :class => "medium input-text"%>
    <p></p>
    <%= select_tag(:pesquisa, options_for_select(SearchController::TERMOS)) %>
    <p></p>
    <%= submit_tag "Pesquisar", :class => "nice small radius blue button" %>
    <% end %>
    </div>
    </div>
    
      <div id="cover">
    <div id="dialog-modal" title="">
      <div class="underline"><h4>Pesquisa de Lojas</h4></div>
       <p></p>
      <%= form_tag search_lojas_url, {:method => :get, :class => "custom"} do %>
    <%= text_field_tag :query , "", :class => "medium input-text"%>
    <p></p>
    <%= select_tag(:pesquisa, options_for_select(SearchController::TERMOS_LOJAS)) %>
    <p></p>
    <%= submit_tag "Pesquisar", :class => "nice small radius blue button" %>
    <% end %>
    </div>
    </div>
    
      <div id="cover">
    <div id="dialog-modal3" title="">
      <div class="underline"><h4>Pesquisa de Promoções</h4></div>
       <p></p>
      <%= form_tag search_promos_url, {:method => :get} do %>

      <%= text_field_tag "query" , "", :class => "medium input-text"%>
    <p> Shopping: </p>
    
    <%= select_tag :shopping, options_for_select(@shops), :onchange => 'update_lojas(this.value)'  %>
    
    <p>Loja: </p>
        
     <%= select_tag("loja", options_for_select(@loj), :disabled => true) %>
    
  <p></p>
    <%= submit_tag "Pesquisar", :class => "nice small radius blue button" %>
    <% end %>
    </div>
    </div>


<div class="row">
      <div class="twelve columns">
        <div class="underline"><h1>Pesquisa</h1></div>
            
</div>
</div>
   
    <div class="row">
<div class="four columns">
  <%= link_to image_tag("shoppings.jpg", :alt => "Pesquisa Shoppings"), search_shoppings_url, {:class=>"hide-on-phones", :id => "opener"} %>
  <%= link_to image_tag("shoppings.jpg", :alt => "Pesquisa Shoppings"), search_shoppings_url, :class=>"show-on-phones" %>
  <p></p>
</div>
<div class="four columns">
  
<%= link_to image_tag("lojas.jpg", :alt => "Pesquisa Lojas"), search_lojas_url, {:class=>"hide-on-phones", :id => "opener1"} %>
  <%= link_to image_tag("lojas.jpg", :alt => "Pesquisa Lojas"), search_lojas_url, :class=>"show-on-phones" %>
  <p></p>
</div>
<div class="four columns">
  
<%= link_to image_tag("promos.jpg", :alt => "Pesquisa Promoções"), search_promos_url, {:class=>"hide-on-phones", :id => "opener3"} %>
  <%= link_to image_tag("promos.jpg"),search_promos_url, :class=>"show-on-phones" %>
  <p></p>
</div>

</div>
</section>




