<section>
<div class="row">
      <div class="twelve columns">
        <div class="underline"><h1>Pesquisa de Promoções</h1></div>
            
</div>
</div>
     <p></p>
    <div class="row">
<div class="twelve columns">
  <%= form_tag search_promos_url, {:method => :get} do %>

    <%= text_field_tag "query" , "", :class => "medium input-text"%>
    <p> Shopping: </p>
  
  <%= select_tag (:shopping, options_for_select(@shops),  :onchange => 'update_lojas(this.value)' ) %>
   
  
    <p>Loja: </p>
        
    <%= select_tag("loja", options_for_select(@loj), :disabled => true) %>
    
  <p></p>
  <%= submit_tag "Pesquisar", :class => "nice small radius blue button" %>
<% end %>

</div>
</div>
</section>