<div class="topbar">
  <div class="fill">
        <div class="container">          
          <%= link_to "BubbleSpot", root_url, :class => "brand" %>
          <ul class="nav">
           
            <li class="<%= controller.controller_path == 'shoppings' ? 'active' : '' %>"> <%= link_to "Shoppings", shoppings_url %></li>
            <li class="<%= controller.controller_path == 'search' ? 'active' : '' %>"> <%= link_to "Pesquisa", search_index_url %></li>          
          </ul>          
          <ul class="nav secondary-nav hide-on-phones">
            <% if current_admin %>
             <li class="<%= controller.controller_path == 'admins' ? 'active' : '' %>"> <%= link_to "Gestão", admins_index_path %></li>
            <li><%= link_to "Log out", log_out_path %></li>
            <li><%= current_admin.email %></li>
            <% else %>
            <li><%= link_to "Log in", log_in_path %></li>
            <% end %>      
          </ul>   
        </div>        
    </div>
</div>

