 <div class = "navigation">
       <%= tabs_tag do |tab| %>
       <%= tab.home      "Home", root_path %>
       <%= tab.evento      "Eventos", eventos_all_path %>
       <% end %> 
    </div>
<section>
<div class="row">
    <div class="twelve columns"> 
    <p>
     <% if @p == 1 || @p == nil%>
         <center>
     <%= link_to 'Esta semana', eventos_all_url(:p => "1"), :class => "nice small radius white button" %>
     <%= link_to 'Próxima semana', eventos_all_url(:p => "2"), :class => "nice small radius blue button" %>
     <%= link_to 'Este mês', eventos_all_url(:p => "3"), :class => "nice small radius blue button" %>
     <%= link_to 'Todos os eventos', eventos_all_url(:p => "4"), :class => "nice small radius blue button" %>
     </center>
     <p>
    
    <% elsif @p == 2%>
        <center>
     <%= link_to 'Esta semana', eventos_all_url(:p => "1"), :class => "nice small radius blue button" %>
     <%= link_to 'Próxima semana', eventos_all_url(:p => "2"), :class => "nice small radius white button" %>
     <%= link_to 'Este mês', eventos_all_url(:p => "3"), :class => "nice small radius blue button" %>
     <%= link_to 'Todos os eventos', eventos_all_url(:p => "4"), :class => "nice small radius blue button" %>
     </center>
     <p>
    
    <% elsif @p == 3%>
        <center>
     <%= link_to 'Esta semana', eventos_all_url(:p => "1"), :class => "nice small radius blue button" %>
     <%= link_to 'Próxima semana', eventos_all_url(:p => "2"), :class => "nice small radius blue button" %>
     <%= link_to 'Este mês', eventos_all_url(:p => "3"), :class => "nice small radius white button" %>
     <%= link_to 'Todos os eventos', eventos_all_url(:p => "4"), :class => "nice small radius blue button" %>
     </center>
     <p>
    
    <% elsif @p == 4%>
        <center>
     <%= link_to 'Esta semana', eventos_all_url(:p => "1"), :class => "nice small radius blue button" %>
     <%= link_to 'Próxima semana', eventos_all_url(:p => "2"), :class => "nice small radius blue button" %>
     <%= link_to 'Este mês', eventos_all_url(:p => "3"), :class => "nice small radius blue button" %>
     <%= link_to 'Todos os eventos', eventos_all_url(:p => "4"), :class => "nice small radius white button" %>
     </center>
     <p>
    
    <% end %>
     </div>
  </div>
</section>
<% if @eventos_semana != nil && @eventos_semana.count > 0 %>
  <section>
    <% shopping_actual = "" %> 
    
    <% @eventos_semana.each do |evento_semana| %>
    
     <% if evento_semana.shopping_nome != shopping_actual %>
      
       <% reset_cycle("rows") %>
      
     <div class="row">
      <div class="twelve columns"> 
        <div class="underline"><h4><%= evento_semana.shopping_nome %></h4></div>   
      </div>
    <% shopping_actual = evento_semana.shopping_nome %>  
      <% end %>
    
      <%= cycle("</div><div class='row'>","","","",:name => "rows").html_safe %>
      <div class="three columns">
         <center>
        <%= link_to image_tag(evento_semana.imagem, :height => "200px"), shopping_evento_path(evento_semana.shopping_id, evento_semana) %>
          <p><%= evento_semana.nome%></p>
        </center>
        <p></p>
      </div>
    <% end %>

</div>

</section>
<%else%>
<section>
<div class="row">
<div class="underline"><h4>Não há eventos neste período...</h4></div> 
</div>
</section>
<%end %>

