<% if @eventos != nil && @eventos.count > 0 %>
  <section>
    
    <% shopping_actual = "" %>
    <% final_semana_atual = Date.today.end_of_week %> 
    <% a = 0 %>
   
    <% @eventos.each do |evento| %>
   
      <%=evento.data%>
       <% if evento.data > final_semana_atual %>
        xxx
        <% shopping_actual = nil %>
        <% a = 0 %>
        <% final_semana_atual = evento.data.end_of_week %>  
      
      data <%= evento.data %>
      data 2 <%= final_semana_atual %>

      <% elsif evento.data <= final_semana_atual && a == 0 %>
        yyy
        <% a = 1 %>
        <% reset_cycle("rows") %>
        <div class="row">
        <div class="twelve columns"> 
        <div class="underline"><h3>Até <%= final_semana_atual %></h3></div>   
        </div>
    
     <% end %>
      
      <% if evento.shopping_nome != shopping_actual %>
        atual<%= shopping_actual %>
        novo<%= evento.shopping_nome %>
        <% reset_cycle("rows") %>
    		<div class="row">
        <div class="twelve columns"> 
        <div class="underline"><h3>Eventos do <%= evento.shopping_nome %></h3></div>   
        </div>
        <% shopping_actual = evento.shopping_nome %>  
        
      <% end %>

      <%= cycle("</div><div class='row'>","","",:name => "rows").html_safe %>
      <div class="four columns">
         
        <%= link_to image_tag(evento.imagem), shopping_evento_path(evento.shopping_id, evento) %>
          <p><%= evento.nome%></p>
        
        <p></p>
      </div>
    <% end %>

</div>

</section>
<%else %>
<section>
		 <div class="row">
      <div class="twelve columns"> 
        <div class="underline"><h2>Não existem eventos..</h2></div> 
      </div>
		 </div>

</section>


<%end %>

