<section>
     <div class="row">
      <div class="twelve columns">
      <div class = "navigation">
      <%= tabs_tag do |tab| %>
      <%= tab.home      "Home", root_path %>
      <%= tab.shopping      @shopping.nome, @shopping %>
      <%= tab.evento           "Eventos do " + @shopping.nome, eventos_shopping_index_url(@shopping) %>
      <% end %>
</div>
</div>
</div>
</section>

<% if @eventos_semana != nil && @eventos_semana.count > 0 %>
  <section>
		 <div class="row">
      <div class="twelve columns"> 
        <div class="underline"><h1>Eventos do <%= @shopping.nome %></h1></div>   
        <p></p>
        
          </div>
    
<% @eventos_semana.each do |evento_semana| %>

<%= cycle("</div><div class='row'>","","","").html_safe %>
<div class="three columns">
   <center>
  <%= link_to image_tag(evento_semana.imagem, :height => "200px"), shopping_evento_path(@shopping, evento_semana) %>
    <p><%= evento_semana.nome%></p>
  </center>
  <p></p>
</div>
<% end %>

</div>

</section>
<%else %>
<section>
		 <div class="row">
      <div class="twelve columns"> 
        <div class="underline"><h4>Não há eventos neste período...</h4></div> 
      </div>
		 </div>

</section>


<%end %>

