<section>
  
  <div class="row">
    <div class ="twelve columns">
    <div class="underline"><h1><%= @evento.nome %></h1></div> 
      
    </div>
  </div>  

<div class="row">
  
  <div class="six columns">
  
  <p> 
    <div class="underline"><h5>DATA</h5></div> 
    <h4><%= @evento.data.strftime("%d-%m-%Y %H:%M")%></h4>
  </p> 
  
  <p> 
    <div class="underline"><h5>LOCAL</h5></div> 
    <h4><%= @evento.local %></h4>
  </p> 
  
  <p>
     <div class="underline"><h5>DETALHES</h5></div> 
    <h4><%= @evento.detalhes.gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %></h4>
  </p>  
    
</div>
  <div class="six columns">
    
  <p></p> 
  <%= image_tag(@evento.imagem)%>
  <p> </p> 
  
  <div>
  <% if current_admin %>
    <%= link_to 'Editar', edit_evento_path(@shopping, @evento), :class => "nice small radius blue button" %>
    <%= link_to 'Apagar', shopping_evento_path(@shopping, @evento), :confirm => 'Tem a certeza?', :method => :delete, :class => "nice small radius blue button" %>
  <% end %>
  </div>

</div>
</div>

</section>


