<section>
      <div class="row">
    <div class ="twelve columns">
    <div class="show-on-desktops">
      <div class = "navigation">
      <%= tabs_tag do |tab| %>
      <%= tab.home      "Home", root_path %>
      <%= tab.shoppings      "Shoppings", shoppings_path %>
      <%= tab.shopping      @shopping.nome, @shopping %>
      <%= tab.eventos      "Eventos do " + @shopping.nome, eventos_shopping_index_url(@shopping) %>
      <%= tab.evento      @evento.nome, @evento %>
      <% end %>
    </div>
    </div>
       
    </div>
  </div>  

  <div class="row">
    <div class ="twelve columns">
    <div class="underline"><h1><%= @evento.nome %></h1></div> 
      
    </div>
  </div>  

<div class="row">
  
  <div class="six columns">
  
  <p> 
    <div class="underline"><h5>DATA</h5></div> 
    <h4><%= @evento.data.strftime("%d-%m-%Y %H:%M")%></h4>
  </p> 
  
  <p> 
    <div class="underline"><h5>LOCAL</h5></div> 
    <h4><%= @evento.local %></h4>
  </p> 
  
  <p>
     <div class="underline"><h5>DETALHES</h5></div> 
    <h4><%= @evento.detalhes.gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %></h4>
  </p>  
    
</div>
  <div class="six columns">
    
  <p></p> 
  <%= image_tag(@evento.imagem, :height => "200px")%>
  <p> </p> 
  
  <div>
  
  </div>

</div>
</div>

</section>


