
<section>

    <div class="row">
<div class="twelve columns">
<%= form_for([@shopping, @loja, @promo]) do |f| %>

    <div class="field">
    Produto
    <%= f.text_field :produto, :class => "large input-text" %>
  </div>
  <div class="field">
    Detalhes
    <%= f.text_area :detalhes, :rows => 6, :class => "large input-text" %>
  </div>
  <div class="field">
    Preço Inicial
    <%= f.text_field :precoi, :class => "large input-text", :id=>"inicial" %>
  </div>
  <div class="field">
    Preço Final
    <%= f.text_field :precof, :class => "large input-text", :id=>"final" %>
  </div>
  <div class="field">
    Desconto
    <%= f.text_field :desconto, :class => "large input-text", :id=>"desconto" %>
  </div>
    <div class="field">
    Data Fim
    <%= f.text_field :dataf, :class => "large input-text", :id=>"datepicker" %>
  </div> 
  <div class="field">
    Link para a imagem:
    <%= f.text_field :imagem, :class => "large input-text" %>
  </div>
  <div class="actions">
    <%= f.submit "Confirmar", :class => "nice small radius blue button", :id=>"normalizar" %>
  </div>
<% end %>

</div>
</div>
</section>



