<section>
		 <div class="row">
      <div class="twelve columns"> 
        <div class = "navigation">       
        <%= tabs_tag do |tab| %>
        <%= tab.home      "Home", root_path %>
        <%= tab.shopping      @shopping.nome, @shopping %>
        <%= tab.lojas      "Lojas do " + @shopping.nome, lojas_shopping_index_url(@shopping) %>
        <%= tab.loja      @loja.nome, shopping_loja_path(@shopping, @loja) %>
        <%= tab.promos      "Promoções da " + @loja.nome, shopping_loja_promos_path(@shopping, @loja) %>
        <% end %>
</div>
</div>
</div>
</section>

<% if @promos != nil && @promos.count > 0 %>
  <section>
		 <div class="row">
      <div class="twelve columns">            
        <div class="underline"><h1>Promoções da loja <%= @loja.nome %></h1></div>   
        <p></p>
      </div> 
<% @promos.each do |promo| %>

<%= cycle("</div><div class='row'>","","").html_safe %>
<div class="four columns">
     <center>
    <%= link_to image_tag(promo.imagem, :height => "200px"), shopping_loja_promo_path(@shopping, @loja, promo) %>
    <p><%= promo.produto%></br>
    <%= promo.desconto %>&#37;  de desconto
    </center>
  <p></p>
</div>
<% end %>

</section>
<%else %>
<section>
		 <div class="row">
      <div class="twelve columns"> 
        <div class="underline"><h2>Não existem Promoções..</h2></div> 
      </div>
		 </div>

</section>


<%end %>


