

<section>
  
  <div class="row">
    <div class ="twelve columns">
    <div class="hide-on-phones">
      <div class = "navigation">
      <%= tabs_tag do |tab| %>
      <%= tab.home      "Home", root_path %>
      <%= tab.shopping      "Shoppings", shoppings_path %>
      <%= tab.shopping      @shopping.nome, @shopping %>
      <%= tab.lojas      "Lojas do " + @shopping.nome, lojas_shopping_index_url(@shopping) %>
      <%= tab.loja      @loja.nome, shopping_loja_path(@shopping, @loja) %>
      <%= tab.promos      "Promoções " + @loja.nome, shopping_loja_promos_path(@shopping, @loja) %>
      <%= tab.promo      @promo.produto, @promo %>
      <% end %>
    </div>
    </div>
      <div class="underline"><h1><%= @promo.produto %></h1></div> 
    </div>
  </div>  

<div class="row">
  
  <div class="six columns">
      
  <% if @promo.precoi != nil && @promo.precof != nil %>
  <p>
    <div class="underline"><h5>PREÇO INICIAL</h5></div> 
    
    <h4><%= @promo.precoi %> €</h4>
    <p/>  
  
  <p>
    <div class="underline"><h5>PREÇO FINAL</h5></div> 
    
    <h4><%= @promo.precof %> €</h4>
  
 <% end %>

 <% if @promo.desconto != nil %>
  <p>
    <div class="underline"><h5>DESCONTO</h5></div> 
    
    <h4><%= @promo.desconto %> %</h4>
   
  <% end %>  
  
  <p> 
    <div class="underline"><h5>DATA FIM</h5></div> 
    <h4><%= @promo.dataf.strftime("%d-%m-%Y %H:%M")%></h4>
     
  
</div>
  <div class="six columns">
    
    <br/>
  <%= image_tag(@promo.imagem, :height => "200px")%>  
        
  <br/><br/>
 
    <div class="underline"><h5>ACABA DAQUI A:</h5></div> 
    <div id="year"><%= @promo.dataf.year %></div>
    <div id="month"><%= @promo.dataf.month %></div>
    <div id="day"><%= @promo.dataf.day %></div>
    <div id="hour"><%= @promo.dataf.hour %></div>
    <div id="minutes"><%= @promo.dataf.min %></div>
    <div id="defaultCountdown" class ="countdown_show4"></div>
  </div>

</div>

<div class="row">
<div class="twelve columns">
  <div class="underline"><h5>DETALHES</h5></div> 
  <h4><%= @promo.detalhes.gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %></h4>
</div>
</div>
</section>
