<div class="show-on-desktops">
 <div class = "navigation">
       <%= tabs_tag do |tab| %>
       <%= tab.homes      "Home", root_path %>
       <%= tab.home "Contactos", contactos_url %>
       <% end %> 
    </div>
    </div>
<section>
<div class="row">
<div class="underline"><h2>Equipa de desenvolvimento</h2></div>
<ul>
<li>Hélder Alexandre dos Santos Moreira </br><%= mail_to "heldersantosmoreira@gmail.com", "heldersantosmoreira at gmail dot com" %></li>
<li>Carlos Tiago da Rocha Babo </br> <%= mail_to "tiagobabo@gmail.com", "tiagobabo at gmail dot com" %></li>
<li>Felipe de Souza Schmitt </br> <%= mail_to "fsschmitt@gmail.com", "fsschmitt at gmail dot com" %></li>
<li>Bruno Filipe Neves Ferreira </br><%= mail_to "bfnf@gmail.com", "bfnf at gmail dot com" %></li>
<li>André Gonçalves Dias </br><%= mail_to "andregdias@gmail.com", "andregdias at gmail dot com" %></li>

</ul>

</div>
</section>
