 <div class = "navigation">
       <%= tabs_tag do |tab| %>
       <%= tab.home      "Home", root_path %>
       <% end %> 
    </div>
<section>
<div class="row">
      <div class="twelve columns">
    <% if @new_promos != nil && @new_promos.count > 0 %>
         <div class="underline"><h1>Novas promoções</h1></div> 
      <p>
        <% @new_promos.each do |promo| %>

        <%= cycle("</div><div class='row'>","","").html_safe %>
        <div class="four columns">
        <center>
        <%= link_to image_tag(promo.imagem, :height => "200px"), shopping_loja_promo_path(promo.shopping_id, promo.loja_id, promo) %>
        <p><h6><%= promo.produto%></br>
        <%= promo.desconto %>&#37;  de desconto</h6>
        </center>
       <p>
        </div>
        <% end %>
        <% end %>
    <p>
    </div>
    </div>
     <div class="row">
      <div class="twelve columns">
        <% if @last_promos != nil && @last_promos.count > 0 %>
     <div class="underline"><h1>Promoções a acabar</h1></div> 

      

   <p>
    <% @last_promos.each do |last_promo| %>

    <%= cycle("</div><div class='row'>","","").html_safe %>
    <div class="four columns">
    <center>
    <%= link_to image_tag(last_promo.imagem, :height => "200px"), shopping_loja_promo_path(last_promo.shopping_id, last_promo.loja_id, last_promo) %>
    <p><h6><%= last_promo.produto%></br>
        <%= last_promo.desconto %>&#37;  de desconto</br>
   </h6><h5><%= last_promo.dataf.strftime("%d-%m-%Y %H:%M")%></h5>
    </center>
   <p>
    </div>
    <% end %>
    <% end %>
      
    </div>  

    <h4>O BubbleSpot é uma base de dados centralizada com informações úteis relativas a centros comerciais. </h4>

   
</div>
</section>

 <div class="hide-on-phones"><div class = "qrcode" id = "qrcode"><%= link_to image_tag("code.png", :size => "200x200") ,"http://gnomo.fe.up.pt/~ei08085/BubbleSpot.apk", :alt=> "Descarregue a versão Android!" %><p>

   <%= link_to("(fechar)", "#") %>

 </div></div>
  <div class="hide-on-phones"><div class="android" id = "qrcode"><%= link_to image_tag("android.png"), "#"%></div></div>
