<div class="show-on-desktops">
 <div class = "navigation">
       <%= tabs_tag do |tab| %>
       <%= tab.home      "Home", root_path %>
       <% end %> 
    </div>
    </div>
<section>
<div class="row">
      <div class="twelve columns">
    <% if @new_promos != nil && @new_promos.count > 0 %>
         <div class="underline"><h1>Novas promoções</h1></div> 
      <p>
        <% @new_promos.each do |promo| %>

        <%= cycle("</div><div class='row'>","","").html_safe %>
        <div class="four columns">
        <center>
        <%= link_to image_tag(promo.imagem, :height => "200px"), shopping_loja_promo_path(promo.shopping_id, promo.loja_id, promo) %>
        <p><h6><%= promo.produto%></br>
        <%= promo.desconto %>&#37;  de desconto</h6>
        </center>
       <p>
        </div>
        <% end %>
        <% end %>
    <p>
    </div>
    </div>
     <div class="row">
      <div class="twelve columns">
        <% if @last_promos != nil && @last_promos.count > 0 %>
     <div class="underline"><h1>Promoções a acabar</h1><p>
    <% temp=1 %>
    <% @last_promos.each do |last_promo| %>

    <%= cycle("</div><div class='row'>","","").html_safe %>
    <div class="four columns">
    <center>
    <%= link_to image_tag(last_promo.imagem, :height => "200px"), shopping_loja_promo_path(last_promo.shopping_id, last_promo.loja_id, last_promo) %>
    <p><h6><%= last_promo.produto%></br>
        <%= last_promo.desconto %>&#37;  de desconto</br>
   </h6><h5><div id="year<%= temp %>"><%= last_promo.dataf.year %></div>
    <div id="month<%= temp %>"><%= last_promo.dataf.month %></div>
    <div id="day<%= temp %>"><%= last_promo.dataf.day %></div>
    <div id="hour<%= temp %>"><%= last_promo.dataf.hour %></div>
    <div id="minutes<%= temp %>"><%= last_promo.dataf.min %></div>
    </h5>
    <div id ="teste"><div id="defaultCountdown<%= temp %>" class ="countdown_show6"></div></div>
    </center>
   <p>
    </div>
    <% temp+=1 %>
    <% end %>

    <% end %>
      
    </div>  

   </br>
   </br>
    <section class="row">
      <article class="four columns">
        <h4 id="grid">Shoppings</h4>
        <p>Com o BubbleSpot pode encontrar uma listagem de variados shoppings, e assim obter informação sobre eles. Para cada um, pode consultar as suas promoções, as suas lojas, entre outras informações úteis. Toda a informação encontra-se à distância de um clique.</p>

      </article>
      <article class="four columns">
        <h4 id="ui">Lojas</h4>
        <p>Para além da informação relativa a cada loja, pode consultar todas as promoções atuais da mesma, estando sempre a par das mais recentes novidades. Assim, nunca mais uma promoção lhe escapará, estando sempre a par das mais recentes novidades! </p>
      </article>
      <article class="four columns">
        <h4 id="mobile">Promoções</h4>
        <p>A parte central do BubbleSpot são as promoções. Queremos que nunca mais perca aquela oportunidade fantástica que não soube a tempo, ou se esqueceu. Para além da consulta normal por loja e shopping, pode ver uma listagem de todas as promoções atuais, assim como pesquisar pelos produtos que gosta.</p>
      </article>
    </section>

   
</div>
</section>

 <div class="hide-on-phones"><div class = "qrcode" id = "qrcode"><%= link_to image_tag("code.png", :size => "200x200") ,"http://gnomo.fe.up.pt/~ei08085/BubbleSpot.apk", :alt=> "Descarregue a versão Android!" %><p>

   <%= link_to("(fechar)", "#") %>

 </div></div>
  <div class="hide-on-phones"><div class="android" id = "qrcode"><%= link_to image_tag("android.png"), "#"%></div></div>
