<section>

    <div class="row">
<div class="twelve columns">
<%= form_for(@shopping) do |f| %>


  <div class="field">
    Nome*
    <%= f.text_field :nome, :class => "large input-text" %>
  </div>
  <div class="field">
    Telefone*
    <%= f.text_field :telefone, :class => "large input-text" %>
  </div>
  <div class="field">
    Morada*
    <%= f.text_field :localizacao, :class => "large input-text" %>
  </div>
  <div class="field">
    E-mail*
    <%= f.text_field :email, :class => "large input-text" %>
  </div>
  <div class="field">
    Descrição*
    <%= f.text_area :descricao, :rows => 6, :class => "large input-text" %>
  </div>
  <div class="field">
    Link para a imagem*
    <%= f.text_field :imagem, :class => "large input-text" %>
  </div>
  <div class="field">
    Link para a planta do shopping*
    <%= f.text_field :link_mapa, :class => "large input-text" %>
    *Campos Obrigatórios
  </div>
  <div class="actions">
    <%= f.submit "Confirmar", :class => "nice small radius blue button" %>
  </div>
<% end %>

</div>
</div>
</section>




