<section>

    <div class="row">
<div class="twelve columns">
<%= form_for(@shopping) do |f| %>
  <% if @shopping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopping.errors.count, "erros") %> proibem que o shopping seja adicionado:</h2>

      <ul>
      <% @shopping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome, :class => "large input-text" %>
  </div>
  <div class="field">
    <%= f.label :telefone %>
    <%= f.text_field :telefone, :class => "large input-text" %>
  </div>
  <div class="field">
    <%= f.label :localizacao %>
    <%= f.text_field :localizacao, :class => "large input-text" %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :class => "large input-text" %>
  </div>
  <div class="field">
    <%= f.label :descricao %>
    <%= f.text_area :descricao, :rows => 6, :class => "large input-text" %>
  </div>
  <div class="field">
    <%= f.label :imagem %>
    <%= f.text_field :imagem, :class => "large input-text" %>
  </div>
  <div class="actions">
  <%= f.submit :class => "nice small radius blue button" %>
  </div>
<% end %>

</div>
</div>
</section>




