<div class="hide-on-phones">
 <div class = "navigation">
       <%= tabs_tag do |tab| %>
       <%= tab.home      "Home", root_path %>
       <%= tab.gestao      "Gestão", admins_index_path  %>
       <%= tab.shopping      "Shoppings", admins_shoppings_url  %>
       <%= tab.shopping_edit      "Editar Shopping", admins_users_url  %>
       <% end %> 
    </div>
    </div>

<section>
		 <div class="row">
      <div class="twelve columns"> 
         <div class="underline"><h1>Editar Shopping</h1></div>      
         <%= render 'form' %>
		 	</div>
		 </div>
   
</section>




