<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @shopping.nome %>
</p>

<p>
  <b>Telefone:</b>
  <%= @shopping.telefone %>
</p>

<p>
  <b>Localizacao:</b>
  <%= @shopping.localizacao %>
</p>

<p>
  <b>Email:</b>
  <%= @shopping.email %>
</p>

<p>
  <b>Descricao:</b>
  <%= @shopping.descricao %>
</p>

<p>
  <b>Latitude:</b>
  <%= @shopping.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @shopping.longitude %>
</p>

<p>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&maptype=satellite&sensor=false&zoom=16&markers=#{@shopping.latitude}%2C#{@shopping.longitude}" %>
</p>


<% if current_admin %><%= link_to 'Editar', edit_shopping_path(@shopping) %>
  <% end %>

