<section>
<div class="row">

    <div class ="twelve columns">
    <div class="show-on-desktops">
       <div class = "navigation">
       <%= tabs_tag do |tab| %>
       <%= tab.home      "Home", root_path %>
       <%= tab.shoppings      "Shoppings", shoppings_path %>
       <%= tab.shopping      @shopping.nome, @shopping %>
       <% end %> 
       </div>
       </div>
       <div class="underline"><h1><%= @shopping.nome %></h1></div> 
       <div class="row">
   <div class="six columns">
    
  <%= link_to 'Lojas', lojas_shopping_index_url(@shopping), :class => "nice small radius blue button" %>
  <%= link_to 'Eventos', eventos_shopping_index_url(@shopping), :class => "nice small radius blue button" %>
  <%= link_to 'Filmes', filmes_shopping_index_url(@shopping), :class => "nice small radius blue button" %>
  <%= link_to 'Promoções', promos_shopping_index_url(@shopping), :class => "nice small radius blue button" %>
  <%= link_to 'Planta', @shopping.link_mapa, :class => "nice small radius blue button" %>
 
   </div>
 </div>
  </div>
  </div>

    <% if @new_promos != nil && @new_promos.count > 0 %>
    <div class="row">
      <div class="twelve columns">
      </br>
         <div class="underline"><h4>NOVAS PROMOÇÕES</h4></div>
      </br>
      </div>
        <% @new_promos.each do |promo| %>

        <%= cycle("</div><div class='row'>","","",:name=>"first").html_safe %>
        <div class="four columns">
        <center>
        <%= link_to image_tag(promo.imagem, :height => "200px"), shopping_loja_promo_path(@shopping, promo.loja_id, promo) %>
        <h6><p><%= promo.produto%></br>
        <%= promo.desconto %>&#37;  de desconto</h6>
        </center>
        </br>
        </div>
       
        <% end %>
            </div>
        <% end %> 
    </br>


   <% if @last_promos != nil && @last_promos.count > 0 %>
   <div class="row">
      <div class="twelve columns">
     <div class="underline"><h4>PROMOÇÕES A ACABAR </h4></div> 
   </br>
    <% temp=1 %>
    </div>
    <% @last_promos.each do |last_promo| %>

    <%= cycle("</div><div class='row'>","","",:name=>"last").html_safe %>
    <div class="four columns">
    <center>
        <%= link_to image_tag(last_promo.imagem, :height => "200px"), shopping_loja_promo_path(@shopping, last_promo.loja_id, last_promo) %>
        <h6><p><%= last_promo.produto%></br>
        <%= last_promo.desconto %>&#37;  de desconto</h6>
        <div id="year<%= temp %>"><%= last_promo.dataf.year %></div>
    <div id="month<%= temp %>"><%= last_promo.dataf.month %></div>
    <div id="day<%= temp %>"><%= last_promo.dataf.day %></div>
    <div id="hour<%= temp %>"><%= last_promo.dataf.hour %></div>
    <div id="minutes<%= temp %>"><%= last_promo.dataf.min %></div>
    </h5>
    <div id ="teste"><div id="defaultCountdown<%= temp %>" class ="countdown_show6"></div></div>
        </center>
    <p>
    </div>
    <% temp+=1 %>
    <% end %>
    </div> 
    <% end %>
      
 

<div class="row">
  
  <div class="six columns">
  
  <p>
     <div class="underline"><h5>TELEFONE</h5></div> 
    
    <h4><%= @shopping.telefone %></h4>
  </p>  
  
  <p>
     <div class="underline"><h5>MORADA</h5></div> 
    <h4><%= @shopping.localizacao %></h4>
  </p>  
  
  <p>
    <div class="underline"><h5>E-MAIL</h5></div> 
    
    <h4><%= @shopping.email %></h4>
  </p>  
  
  <p>
    <div class="underline"><h5>DESCRIÇÃO</h5></div> 
    
    <h4><%= @shopping.descricao.gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %></h4>
  </p>  
  
  <p>
    <div class="underline"><h5>LATITUDE</h5></div> 
    
    <h4><%= @shopping.latitude %></h4>
  </p>  
  
  <p>
    <div class="underline"><h5>LONGITUDE</h5></div> 
    <h4><%= @shopping.longitude %></h4>
  </p>  
</div>
  <div class="six columns">
  
  <p></p> 
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&maptype=satellite&sensor=false&zoom=16&markers=#{@shopping.latitude}%2C#{@shopping.longitude}" %>

</div>
</div>
</section>