
<div class="row">
  <section>
    <div class ="twelve columns">
       <div class = "navigation">
       <%= tabs_tag do |tab| %>
       <%= tab.home      "Home", root_path %>
       <%= tab.shoppings      "Shoppings", shoppings_path %>
       <%= tab.shopping      @shopping.nome, @shopping %>
       <% end %> 
       </div>
       <div class="underline"><h1><%= @shopping.nome %></h1></div> 
       <div class="row">
   <div class="six columns">
    
  <%= link_to 'Lojas', lojas_shopping_index_url(@shopping), :class => "nice small radius blue button" %>
  <%= link_to 'Eventos', eventos_shopping_index_url(@shopping), :class => "nice small radius blue button" %>
  <%= link_to 'Filmes', filmes_shopping_index_url(@shopping), :class => "nice small radius blue button" %>
  <%= link_to 'Promoções', promos_shopping_index_url(@shopping), :class => "nice small radius blue button" %>
  <%= link_to 'Planta', @shopping.link_mapa, :class => "nice small radius blue button" %>
 
   </div>
 </div>
  </div>
    </div>

    <div class="row">
      <div class="twelve columns">
    <% if @new_promos != nil && @new_promos.count > 0 %>
      <p>
         <div class="underline"><h5>Novas Promoções</h5></div> 

      </p>  
      <p>
        <% @new_promos.each do |promo| %>

        <%= cycle("</div><div class='row'>","","").html_safe %>
        <div class="four columns">
        <center>
        <%= link_to image_tag(promo.imagem, :height => "200px"), shopping_loja_promo_path(@shopping, promo.loja_id, promo) %>
        <p><%= promo.produto%></br>
        <%= promo.desconto %>&#37;  de desconto
        </center>
       <p></p>
        </div>
        <% end %>
        <% end %>
      </p> 
  
    <p>
    </div>
    </div>

<div class="row">
  
  <div class="six columns">
  
  <p>
     <div class="underline"><h5>TELEFONE</h5></div> 
    
    <h4><%= @shopping.telefone %></h4>
  </p>  
  
  <p>
     <div class="underline"><h5>MORADA</h5></div> 
    <h4><%= @shopping.localizacao %></h4>
  </p>  
  
  <p>
    <div class="underline"><h5>E-MAIL</h5></div> 
    
    <h4><%= @shopping.email %></h4>
  </p>  
  
  <p>
    <div class="underline"><h5>DESCRIÇÃO</h5></div> 
    
    <h4><%= @shopping.descricao.gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %></h4>
  </p>  
  
  <p>
    <div class="underline"><h5>LATITUDE</h5></div> 
    
    <h4><%= @shopping.latitude %></h4>
  </p>  
  
  <p>
    <div class="underline"><h5>LONGITUDE</h5></div> 
    <h4><%= @shopping.longitude %></h4>
  </p>  
</div>
  <div class="six columns">
  
  <p></p> 
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&maptype=satellite&sensor=false&zoom=16&markers=#{@shopping.latitude}%2C#{@shopping.longitude}" %>

  
  
  

</div>
</div>
</section>