
<div class="row">
  <section>
    <div class ="twelve columns">
       <div class = "navigation">
       <%= tabs_tag do |tab| %>
       <%= tab.home      "Home", root_path %>
       <%= tab.shopping      @shopping.nome, @shopping %>
       <% end %> 
    </div>
       <div class="underline"><h1><%= @shopping.nome %></h1></div> 
    </div>
  </div>  
<div class="row">
  
  <div class="six columns">
  
  <p>
     <div class="underline"><h5>TELEFONE</h5></div> 
    
    <h4><%= @shopping.telefone %></h4>
  </p>  
  
  <p>
     <div class="underline"><h5>MORADA</h5></div> 
    <h4><%= @shopping.localizacao %></h4>
  </p>  
  
  <p>
    <div class="underline"><h5>E-MAIL</h5></div> 
    
    <h4><%= @shopping.email %></h4>
  </p>  
  
  <p>
    <div class="underline"><h5>DESCRIÇÃO</h5></div> 
    
    <h4><%= @shopping.descricao.gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %></h4>
  </p>  
  
  <p>
    <div class="underline"><h5>LATITUDE</h5></div> 
    
    <h4><%= @shopping.latitude %></h4>
  </p>  
  
  <p>
    <div class="underline"><h5>LONGITUDE</h5></div> 
    <h4><%= @shopping.longitude %></h4>
  </p>  
</div>
  <div class="six columns">
  
  <p></p> 
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&maptype=satellite&sensor=false&zoom=16&markers=#{@shopping.latitude}%2C#{@shopping.longitude}" %>
  <div>
    
  <%= link_to 'Lojas', lojas_shopping_index_url(@shopping), :class => "nice small radius blue button" %>
  
  <% if current_admin %><%= link_to 'Editar', edit_shopping_path(@shopping), :class => "nice small radius blue button" %><% end %> 
  </div>
  

</div>
</div>
</section>