<section>

    <div class="row">
<div class="twelve columns">
<%= form_for([@shopping, @filme]) do |f| %>

  <div class="field">
    Nome
    <%= f.text_field :nome, :class => "large input-text" %>
  </div>
  <div class="field">
    Detalhes
    <%= f.text_area :detalhes, :rows => 6, :class => "large input-text" %>
  </div>
  <div class="field">
    Horários
    <%= f.text_field :horarios, :class => "large input-text" %>
  </div>
  <div class="field">
    Link para o trailer
    <%= f.text_field :trailer, :class => "large input-text" %>
  </div>
  <div class="field">
     Link para a imagem: 
    <%= f.text_field :imagem, :class => "large input-text" %>
  </div>
  
  
  <div class="actions">
    <%= f.submit "Confirmar", :class => "nice small radius blue button" %>
  </div>
<% end %>

</div>
</div>
</section>

