<section>
     <div class="row">
      <div class="twelve columns">
      <div class = "navigation">
      <%= tabs_tag do |tab| %>
      <%= tab.home      "Home", root_path %>
      <%= tab.shoppings      "Shoppings", shoppings_path %>
      <%= tab.shopping      @shopping.nome, @shopping %>
      <%= tab.filme           "Filmes do " + @shopping.nome, filmes_shopping_index_url(@shopping) %>
      <% end %>
</div>
</div>
</div>
</section>

<% if @filmes != nil && @filmes.count > 0 %>
  <section>
		 <div class="row">
      <div class="twelve columns"> 
        <div class="underline"><h1>Filmes do <%= @shopping.nome %></h1></div>   
        <p></p>
          </div>
    
<% @filmes.each do |filme| %>

<%= cycle("</div><div class='row'>","","","").html_safe %>
<div class="three columns">
   <center>
  <%= link_to image_tag(filme.imagem, :height => "200px"), shopping_filme_path(@shopping, filme) %>
    <p><%= filme.nome%></p>
  </center>
  <p></p>
</div>
<% end %>

</div>
<div class="row">
<div class="twelve columns">
<%= will_paginate @filme, :prev_label => "←Anterior", :next_label => "Próximo→"%>
</div>
</div>
</section>
<%else %>
<section>
		 <div class="row">
      <div class="twelve columns"> 
       <div class="underline"><h1>Filmes do <%= @shopping.nome %></h1></div>  
        <div class="underline"><h2>Não existem filmes...</h2></div> 
      </div>
		 </div>

</section>


<%end %>

