<section>
  
  <div class="row">
    <div class ="twelve columns">
    <div class="underline"><h1><%= @filme.nome %></h1></div> 
      
    </div>
  </div>  

<div class="row">
  
  <div class="six columns">
  
  <p>
     <div class="underline"><h5>DETALHES</h5></div> 
    <h4><%= @filme.detalhes.gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %></h4>
  </p>  
  
  <p> 
    <div class="underline"><h5>HORÁRIOS</h5></div> 
    <h4><%= @filme.horarios %></h4>
  </p> 
  
  <p> 
    <div class="underline"><h5>TRAILER</h5></div> 
    <h4><%= @filme.trailer %></h4>
  </p> 
  
  
</div>
  <div class="six columns">
    
  <p></p> 
  <%= image_tag(@filme.imagem)%>
  <p> </p> 
  
  <div>
  <% if current_admin %><%= link_to 'Editar', edit_filme_path(@shopping, @filme), :class => "nice small radius blue button" %><% end %>
  </div>

</div>
</div>

</section>


