<!DOCTYPE html>
<html>
<head>
  <title>BubbleSpot</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

<div id="conteudo">
<!--<% if current_admin %>
<div align="right" id="admin_nav">
    Logged in como <%= current_admin.email %>.
    <%= link_to "Log out", log_out_path %>
  </div>
<% end %>
<div align="right" id="search_nav">
    <%= link_to "Área de Administração", admins_index_path %>
  </div>-->

<%= render "shared/header" %>
<div class="clearheader"></div>
<section>
		 <div class="row">
      <div class="twelve columns"> 
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash" %>
        <% end %>   
		 	</div>
    </div>
  </section>

<%= yield %>
<div class="clearfooter"></div>
</div>

<%= render "shared/footer" %>

</body>
</html>
