<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="./public/favicon.ico" />
  <title>BubbleSpot</title>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/black-tie/jquery-ui.css" %>
  <%= stylesheet_link_tag "application" %>

  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  
</head>
<body>

<div id="conteudo">
<%= render "shared/header" %>
<div class="clearheader"></div>

<%= yield %>
<div class="clearfooter"></div>
</div>

<%= render "shared/footer" %>

</body>
</html>
