<!DOCTYPE html>
<html>
<head>
  <title>BubbleSpot</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if current_admin %>
<div align="right" id="admin_nav">
    Logged in como <%= current_admin.email %>.
    <%= link_to "Log out", log_out_path %>
</div>
<% else %>
<div align="right" id="admin_nav">
    <%= link_to "Log out", log_out_path %>
</div>
<% end %>
<div align="right" id="search_nav">
    <%= link_to "Área de Administração", admins_index_path %>
</div>


<%= render "shared/header" %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
